@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR&display=swap');
:root {
  --primary: #222;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.body {
  color: var(--primary);
  font-family: 'Nanum Gothic', sans-serif;
}

/* header */
.header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
.header > a > img {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 200px;
  z-index: 1;
}
.nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.Bnav {
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 600;
  gap: 40px;
  justify-content: center;
}
.Bnav li:hover {
  color: #0593d1;
}
.Snav {
  position: absolute;
  right: 200px;
  display: flex;
  font-size: 13px;
  gap: 30px;
}
.Snav li:hover {
  color: #0593d1;
}
.bars {
  display: none;
}
/* footer */
.footer {
  background-color: #2b323a;
}
.footerbox {
  max-width: 1920px;
  margin: 0 auto;
  height: 440px;
}
.footer ul {
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  opacity: 90%;
}
.footer ul li h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-top: 46px;
}
.footer ul li h3 {
  color: #c9c9c9;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}
.footer ul li p {
  color: #898989;
  font-size: 16px;
  line-height: 30px;
}
.footer ul li p span {
  color: #b39717;
}
.footer ul li h2 {
  color: #c9c9c9;
  font-size: 24px;
  margin-top: 30px;
}
.footer .social {
  float: right;
}
.footer .social .icon {
  align-items: right;
  float: right;
}
.wave {
  width: 100%;
  height: 500px;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
@media (max-width: 768px) {
  .header {
    height: 70px;
    background-color: #0593d1;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .header .Bnav {
    position: fixed;
    margin: 0 auto;
    top: 0%;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #003349;
    flex-direction: column;
    gap: 60px;
    font-size: 30px;
    transition: left 0.3s;
    z-index: 3;
    padding: 60px 0;
    align-items: center;
    color: #fff;
  }
  .header .Snav {
    position: fixed;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 14px;
    transition: left 0.3s;
    z-index: 3;
    padding: 20px 0;
    align-items: center;
    color: #fff;
    opacity: 70%;
  }
  .header .Bnav::after {
    color: #7dceef;
  }
  .header .Bnav.active {
    left: 0%;
  }
  .header .Snav.active {
    left: 0%;
    top: 80%;
  }
  .header .nav .bars {
    display: block;
    font-size: 30px;
    z-index: 10;
    padding: 0 20px;
    color: #fff;
  }
  .header > a > img {
    padding-left: 0px;
    height: 70px;
  }
  .footer {
    max-width: 100vw;
    height: 100%;
    background-color: #2b323a;
    padding-bottom: 20px;
  }

  .footer ul {
    max-width: 100vw;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .footer ul li h1 {
    font-size: 16px;
    padding-top: 16px;
    margin: 0;
  }
  .footer ul li img {
    width: 20%;
    height: 20%;
  }
  .footer ul li h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .footer ul li p {
    color: #898989;
    font-size: 8px;
    line-height: 14px;
    margin: 0;
  }

  .footer ul li h2 {
    font-size: 10px;
    margin-top: 30px;
  }
  .footer .social {
    display: none;
  }
}
