@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
.body {
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
}
.header {
  width: 1540px;
  margin: 0 auto;
  /* height: 90px; */
  display: flex;
  justify-content: right;
  position: relative;
}
.header > img {
  position: absolute;
  top: 0;
  left: 1%;
}
.nav {
  /* width: 1540px; */
  display: flex;
  height: 90px;
  line-height: 90px;
}
.Bnav {
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.Bnav li {
  margin-left: 30px;
  opacity: 80px;
}
.Bnav li:hover {
  color: #0593d1;
}
.Snav {
  display: flex;
  margin-left: 140px;
  font-size: 17px;
}
.Snav li:hover {
  color: #0593d1;
}
.Snav li {
  margin-left: 10px;
}
.container .banner01,
.container_p2 .banner01 {
  width: 1920px;
  margin: 0 auto;
  height: 784px;
  background-image: url(/img/1-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.container .banner01 .content {
  width: 1288px;
  margin: 0 auto;
}
.container .banner01 .content_box {
  display: flex;
  justify-content: space-between;
}
.container .banner01 .box_1 {
  margin-top: 136px;
}
.container .banner01 .box_1 h1 {
  font-size: 46px;
  color: #7dceef;
  letter-spacing: -0.05em;
}
.container .banner01 .box_1 h2 {
  font-size: 60px;
  color: #fff;
  letter-spacing: -0.05em;
}
.container .banner01 .box_2 {
  margin-top: 84px;
}
.container .banner01 .text_box {
  position: absolute;
  background-color: #f6f7f9;
  width: 1288px;
  height: 80px;
  border-radius: 10px;
  line-height: 80px;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
}
.container .banner01 .text_box h3 {
  margin-left: 50px;
  font-size: 26px;
}
.container .banner01 .imgbox {
  margin-right: 50px;
  display: flex;
  font-size: 30px;
  font-weight: bold;
}
.container .banner01 .imgbox li {
  margin-left: 20px;
}
.container .banner02 {
  width: 940px;
  margin: 0 auto;
  margin-top: 100px;
}
.container .banner02 h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.container .banner02 ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.container .banner02 ul li {
  width: 300px;
  height: 352px;
  color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  align-items: center;
  display: flex;
  opacity: 70%;
}
.container .banner02 ul li:hover {
  opacity: 100%;
}
.container .banner02 ul li .bg {
  width: 260px;
  margin: 0 auto;
  height: 310px;
  border-radius: 15px;
}
.container .banner02 ul li .bg p {
  margin: 20px 20px;
  font-size: 15px;
  line-height: 25px;
}
.container .banner02 ul li .bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .banner02 ul .c_01 .bg {
  background-image: url(/img/p1_1.png);
}
.container .banner02 ul .c_02 .bg {
  background-image: url(/img/p1_2.png);
}
.container .banner02 ul .c_03 .bg {
  background-image: url(/img/p1_3.png);
}
.container .banner02 ul .c_04 .bg {
  background-image: url(/img/p1_4.png);
}
.container .banner02 ul .c_05 .bg {
  background-image: url(/img/p1_5.png);
}
.container .banner02 ul .c_06 .bg {
  background-image: url(/img/p1_6.png);
}
.container .banner03 {
  width: 940px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.container .banner03 li {
  width: 226px;
  align-items: center;
}
.container .banner03 li h1 {
  margin: 10px 5px;
  font-size: 22px;
  letter-spacing: -0.1em;
  color: #4e4e4e;
}
.container .banner03 li p {
  margin: 0 5px;
  margin-bottom: 80px;
  font-size: 13px;
  font-weight: 600;
  color: #666666;
  letter-spacing: -0.1em;
}
.container .banner04 {
  width: 940px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #f7fbfe;
  margin-bottom: 100px;
}
.container .banner04 li {
  width: 235px;
  align-items: center;
  text-align: center;
}
.container .banner05 {
  width: 940px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-image: url(/img/page1_banner.png);
  margin-bottom: 100px;
}
.container .banner05 .text {
  /* margin-top: 2; */
  margin: 20px 20px;
}
.container .banner05 h1 {
  font-size: 24px;
}
.container .banner05 p {
  margin-top: 10px;
  margin-bottom: 6px;
  color: #4e4e4e;
  font-size: 14px;
  line-height: 20px;
}
.container .banner05 button {
  background-color: inherit;
  border: 1px solid #003349;
  color: #003349;
  width: 50px;
  height: 24px;
}
.container .banner05 ul {
  width: 600px;
  align-items: right;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4e4e4e;
  font-size: 14px;
}
.container .banner05 ul li a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.container .banner05 ul li a p:last-child {
  font-size: 8px;
}
.container .banner06 {
  width: 840px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.container .banner06 p {
  font-size: 14px;
  color: #666666;
}
.footer {
  margin-top: 160px;
  height: 440px;
  background-color: #2b323a;
}
.footer ul {
  width: 1540px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  opacity: 70%;
}
.footer ul li h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  margin-top: 46px;
}
.footer ul li h3 {
  color: #c9c9c9;
  font-size: 46px;
  font-weight: bold;
  margin: 30px 0;
}
.footer ul li p {
  color: #898989;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
.footer ul li p span {
  color: #b39717;
}
.footer ul li h2 {
  color: #c9c9c9;

  font-size: 26px;
  margin-top: 30px;
}
.footer .social {
  float: right;
}
.footer .social .icon {
  align-items: right;
  float: right;
}

/* sub_01 */
.container_p2 .banner01 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.container_p2 .banner02 {
  width: 1304px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 110px;
}
.container_p3 .banner01 {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}
.container_p2 .banner02 .content1,
.container_p3 .banner01 .content1 {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_p3 .banner01 .content1 {
  width: 330px;
}
.container_p2 .banner02 .content1 a,
.container_p3 .banner01 .content1 a {
  display: flex;
  justify-content: space-between;
}
.container_p2 .banner02 .content1 a p,
.container_p3 .banner01 .content1 a p {
  margin-left: 10px;
  color: #7a7a7a;
}
.container_p2 .banner02 .content1 a p:hover,
.container_p3 .banner01 .content1 a p:hover {
  font-weight: bold;
  flood-color: #000;
}
.container_p2 .banner03 {
  width: 1304px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 50px;
}
.container_p2 .banner03 .content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #7a7a7a;
  width: 450px;
}
.container_p2 .banner03 .content1 .box {
  display: flex;
  align-items: center;
}
.container_p2 .banner03 .content1 .box p {
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}
.container_p2 .banner03 .content1 i {
  font-size: 30px;
}
.container_p2 .banner03 .content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #7a7a7a;
  width: 780px;
}
.container_p2 .banner03 .content2 p {
  width: 250px;
  background-color: #000;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.container_p2 .banner04 {
  width: 1304px;
  margin: 0 auto;
}
.container_p2 .banner04 .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.container_p2 .banner04 .top .content1 h1 {
  font-size: 20px;
  font-weight: bold;
}
.container_p2 .banner04 .top .content1 span {
  color: #ef5b18;
}
.container_p2 .banner04 .top .content2 {
  display: flex;
  align-items: center;
}
.container_p2 .banner04 .top .content2 p {
  margin-left: 30px;
}
.container_p2 .banner04 .top .content2 img {
  width: 60px;
}
.container_p2 .banner04 .bot {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 140px;
}
.container_p2 .banner04 .bot .box {
  height: 190px;
  border: 1px solid #c9c9c9;
}
.container_p2 .banner04 .bot .box h1 {
  font-size: 16px;
  margin: 10px 10px;
  padding-bottom: 50px;
}
.container_p2 .banner04 .bot li {
  width: 314px;
}
.container_p2 .banner04 .bot li p {
  color: #ef5b18;
  font-weight: bold;
}
.container_p2 .banner04 .bot li a > img {
  display: block;
}
.container_p2 .banner04 .bot li .img {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
}
.page-num {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.page-num button {
  width: 42px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  margin-right: 10px;
}
.page-num button:hover {
  background-color: #2b323a;
  color: #fff;
  cursor: pointer;
}
.page-num button:last-child {
  border: 2px solid #000;
}

/* sub_02 */
.container_p3 {
  width: 1290px;
  margin: 0 auto;
}
.container_p3 .banner02 {
  /* justify-content: center; */
  text-align: center;
}
.container_p3 .banner02 h1 {
  font-size: 38px;
  font-weight: 600;
}
.container_p3 .banner02 h2 {
  font-size: 20px;
  margin-bottom: 70px;
  margin-top: 30px;
  color: #898989;
}
.container_p3 .banner02 .content2 {
  height: 510px;
  background-image: url(/img/3-1\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}
.container_p3 .banner02 .content2 ul {
  position: absolute;
  bottom: -10px;
  left: 21px;
  width: 1248px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.container_p3 .banner02 .content2 ul li {
  width: 208px;
  height: 70px;
  line-height: 65px;
  /* margin-bottom: 40px; */
  position: relative;
}
.container_p3 .banner02 .content2 ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 7px;
  background-color: #293b94;
  left: 0;
  bottom: 10px;
  z-index: 1;
}
.container_p3 .banner02 .content2 ul li:hover::after {
  width: 100%;
}
.container_p3 .banner03 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container_p3 .banner03 .content2 {
  width: 656px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  height: 383px;
}
.container_p3 .banner03 .content2 .box1 {
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}
.container_p3 .banner03 .content2 h1 {
  font-size: 27px;
  font-weight: bold;
}
.container_p3 .banner03 .content2 button {
  font-size: 16px;
  color: #fff;
  height: 50px;
  width: 110px;
  border: none;
  background-color: #293b94;
  border-radius: 10px;
}
.container_p3 .banner03 .content2 .text {
}
.container_p3 .banner03 .content2 .text h2 {
  font-style: 34px;
  color: #666666;
  font-weight: bold;
  margin: 16px 0;
}
.container_p3 .banner03 .content2 .text ul {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 400;
}
.container_p3 .banner03 .content2 .text ul li span {
  color: #003349;

  font-weight: 800;
}
.container_p3 .banner03 .content2 .text ul li {
  margin-bottom: 10px;
}

.container_p3 .banner04 .content1 h1 {
  color: #388b8f;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #388b8f;
}

.container_p3 .banner04 .content1 p {
  margin: 10px 20px;
  font-size: 15px;
  letter-spacing: -0.1em;
  color: #7a7a7a;
}
.container_p3 .banner04 .content1 > img {
  margin-bottom: 30px;
  margin-top: 50px;
}
.container_p3 .banner04 .content1 .imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.container_p3 .banner04 .content1 h2 {
  color: #666666;
  font-size: 24px;
  letter-spacing: -0.11em;
  padding-bottom: 60px;
}
.container_p3 .banner04 .content2 {
  height: 300px;
  margin-top: 30px;
  background-color: #f6f6f6;
  margin-bottom: 80px;
}
.container_p3 .banner04 .content2 .box1 {
  display: flex;
  justify-content: space-between;
}
.container_p3 .banner04 .content2 .right pre {
  padding: 50px;
  font-size: 20px;
  color: #293b94;
  display: flex;
  align-items: center;
  /* height: 30px;
  line-height: 30px; */
}
.container_p3 .banner04 .content2 .right pre span {
  font-size: 30px;
  color: #293b94;
}
.container_p3 .banner04 .content2 .left {
  width: 1040px;
  font-size: 20px;
  color: #898989;
}
.container_p3 .banner04 .content2 .left p:nth-child(1) {
  padding-top: 50px;
}
.container_p3 .banner04 .content2 .left p:nth-child(2) {
  padding-top: 60px;
}
.container_p3 .banner04 .content3 {
  display: flex;
  padding: 20px 0;
}
.container_p3 .banner04 .content3 ul {
  width: 1050px;
  display: flex;
  justify-content: left;
  gap: 6px;
  flex-wrap: wrap;
}
.container_p3 .banner04 .content3 ul li {
  height: 30px;
  padding: 0 14px;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
}
.container_p3 .banner04 .content3 h1 {
  font-size: 24px;
  color: #293b94;
  padding-right: 50px;
}
.container_p3 .banner04 .content4 .box1 {
  display: flex;
  margin: 100px 0;
  justify-content: space-between;
}
.container_p3 .banner04 .content4 ul {
  display: flex;
  justify-content: space-between;
}
.container_p3 .banner04 .content4 ul li {
  position: relative;
  margin-left: 6px;
}
.container_p3 .banner04 .content4 h1 {
  font-size: 24px;
  color: #293b94;
  margin-right: 10px;
}
.container_p3 .banner04 .content4 ul li .text_box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 10px;
  width: 220px;
  height: 100px;
  font-size: 17px;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
